@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.section-2{
    width: 100%;
    height: 100vh;
    background-color: #212529;
    border: 5px solid #f1faee;
    font-family: 'Open Sans','sans-serif';
}

.about{
    color: #f1faee;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    text-transform: uppercase;
}

.container-2{
    display: flex;
    align-items: center;
    padding: 70px;
    justify-content: space-between;
}

.image-container2 img{
    width: 100%;
    border: 1px solid #f1faee;
}

.texts-2{
    color: #f1faee;
    font-size: 18px;
    line-height: 40px;
    padding: 40px;
    margin-left: 20px;
    text-align: justify;
}

.texts-2 p{
    border-top: 1px solid #f1faee;
}